body {
    font-family: Arial, sans-serif;
    background-color: #e3edce;
    color: #333;
    margin: 0;
    padding: 0;
}

a:link {
    color: red;
}
#container a:visited {
    color: inherit;
    text-decoration: none;
}
a{
    text-decoration: none;
}



#container{
    font-size: 1em;
}

.categorias, .destaque, #receitas {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#receitas{
    flex-direction: row;
    flex-wrap: wrap;
}

.categoria, .card {
    
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
    max-width: 30%; 
    margin: 0 auto; 
}
    
.categoria img, .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.categorias h2, .destaque h2, #receitas h2 {
    margin-bottom: 10px;
}

.destaque .texto {
    text-align: left;
}

.receitas-em-tendencia {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.receitas-em-tendencia div {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    
}

.categoria img, .card img {
    width: 80%; 
    height: auto;
    max-width: 300px; 
    border-radius: 8px;
}

#lasanha-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    margin: 45px 0; 
    width: 95%; 
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card{
    display: flex;
    padding: auto;
    margin: auto;
    -moz-text-size-adjust: auto;
    flex-wrap: wrap;
}

#lasanha-container img {
    width: 35%; 
    height: auto;
    border-radius: 8px;
    margin-right: 20px; 
}

#lasanha-container .texto {
    flex: 1; 
    text-align: left;
}


.dark-mode .receitas-em-tendencia div {
    background-color: #333;
    border: none;
}

/* CATEGORIAS */
.icones-categorias{
    display: flex;
    justify-content: space-around;
    margin: 0px 10%;
    padding: 25px;
    flex-wrap: wrap;
}
.img-categorias{
    width: auto;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
}
.card-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100px;
    height: auto;
}
.card-categorias:visited {
    color: black;
}  
.background-img-icone{
    flex-direction: column;
    background-color: white;
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #afafaf;
    border-width: 1px;
    border-style: solid;
    margin: 15px;
    padding: 10px 0px;
    gap: 10px;
}

.dark-mode .background-img-icone{
    background-color: #333;
    border-color: black;
}
.background-img-icone:hover{
    filter: invert(10%);
    transition: 100ms;
}