nav {
    overflow: hidden;
    background-color: #111;
    position: relative;
    flex-direction: row;
}

#navigation{
    display: flex;
    justify-content: space-between;
}


nav #myLinks {
    justify-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    max-height: 0; 
    opacity: 0;
    overflow: hidden; 
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

nav #myLinks.show {
    max-height: 500px;
    opacity: 1; 
}

nav a {
    color: rgb(35, 137, 253);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

nav a.icon {
    background: #111;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding-top: 10px;
    border: none;
    transition: opacity 0.1s ease, visibility 0.1s ease;
}

.icon i{
    font-size: 30px;
}

nav a.icon:hover {
    transition: 0.5s;
    background-color: #ddd;
    filter: invert(10%);
}